@define-color foreground #FFF2E5;
@define-color background alpha(#191918,0.05);
@define-color cursor #BDAEB7;

@define-color color0 #434443;
@define-color color1 #885D59;
@define-color color2 #8D7F99;
@define-color color3 #B77149;
@define-color color4 #DE898F;
@define-color color5 #B4B4CA;
@define-color color6 #FFD9B6;
@define-color color7 #F7E4D2;
@define-color color8 #AD9F93;
@define-color color9 #885D59;
@define-color color10 #8D7F99;
@define-color color11 #B77149;
@define-color color12 #DE898F;
@define-color color13 #B4B4CA;
@define-color color14 #FFD9B6;
@define-color color15 #F7E4D2;