@define-color foreground #FEF2C6;
@define-color background alpha(#1F1716,0.05);
@define-color cursor #CE926D;

@define-color color0 #4D413F;
@define-color color1 #68433F;
@define-color color2 #B3604A;
@define-color color3 #C96932;
@define-color color4 #EC8116;
@define-color color5 #FEAE19;
@define-color color6 #FDDA5C;
@define-color color7 #F6E4A5;
@define-color color8 #ACA074;
@define-color color9 #68433F;
@define-color color10 #B3604A;
@define-color color11 #C96932;
@define-color color12 #EC8116;
@define-color color13 #FEAE19;
@define-color color14 #FDDA5C;
@define-color color15 #F6E4A5;